# Environment variables
.env

# Virtual environment
venv/

# Data files
data/raw/
*.tsv
*.tsv.gz
*.csv

# Python cache
__pycache__/
*.pyc

# ETL temporary or output files
etl/__pycache__/
etl/*.log
*.log