#main_div {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     
     width: 100%;          
     gap: 40px;
}

#tab_bar {
     display: flex;
     justify-content: space-between;
     gap: 96px;
     border-radius: 8px;
     border: 1px solid var(--border-color-muted);
     border-bottom-width: 0;
}

#tab_bar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px; 
    background-color: var(--border-color-muted);
}

.tab_icon {
     width: 15px;
     height: 15px;
     margin-right: 5px;
     color: var(--text-color-muted);
}

.button {
    display: flex;
    width: 150px;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 8px;
    gap: 12px;

    transition: background-color 0.2s, color 0.2s;
}

.button a {
     display: flex;
     align-items: center;

     text-decoration: none;
     color: var(--text-color-muted);
     font-size: 12px;
}

#dashboard_button a {
     display: flex;
     justify-content: center;
}

#browse_button {
     display: flex;
     justify-content: center;
     background: linear-gradient(0deg, var(--button-bg-color-mid), var(--background-color));
}

#browse_button a {
     display: flex;
     justify-content: center;
     color: var(--text-color);
}

#about_button a {
     display: flex;
     justify-content: center;
}

.button:hover {
    background: linear-gradient(0deg, var(--button-bg-color-mid), var(--background-color));
    cursor: pointer;
}

.button:hover a {
    color: var(--text-color);
}

/* ---------- Content ---------- */
#content_div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
}

/* ---------- Filter ---------- */
#filter_container {
    width: 100%;
    padding: 20px;
    gap: 32px;
    border: 1px solid var(--border-color-muted);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

h1 {
    font-size: 20px;
    line-height: 0%;
    margin-bottom: -5px;
    color: var(--text-color);
}

.filter_field {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.filter_header {
    border-bottom: 1px solid var(--border-color);
}

.filter_header span {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 600;;
}

.filter_input {
     width: 100%;
}

#filter_row {
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 15% 20% 18% 10%;
    width: 100%;
    gap: 15px;
}

#genre_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 20px;
}

.genre {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 8px;
    margin: -3px 0px;
    font-family: sans-serif;
    font-size: 14px;
}

.genre span {
    font-size: 14px;
    line-height: 0%;;
    color: var(--text-color);
}

#min_ave_rating_input {
    width: 100%;
}

#runtime_content {
    display: flex;
    align-items: center;
    gap: 6px;
}

#min_runtime, #max_runtime {
    width: 50px;
}

#min_runtime_val, #max_runtime_val {
    width: 100%;
}

#runtime_content span {
    font-size: 14px;
    color: var(--text-color);
}

#people_included_container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.people_included {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px;
}

.people_included span {
    font-size: 14px;
    line-height: 0%;;
    color: var(--text-color);
    margin-right: 6px;
}

.remove_icon {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

#person_input {
  width: 100%;  
}

#person_input:focus {
  border-color: #3b82f6;
}


#status_container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.completion_status {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.completion_status span {
    font-size: 14px;
    line-height: 0%;;
    color: var(--text-color);
}

#filter_container_r2 {
     display: grid;
     grid-template-columns: 2fr 1fr;
     gap: 20px;
     width: 100%;
}

#field_container {
     display: flex;
     justify-content: start;
     width: 100%;
}

.field {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 8px;
    margin: -3px 0px 0px 15px;
    font-family: sans-serif;
    font-size: 14px;
}

.field input {
     margin-right: -3px;
}

#filter_container_r3 {
     display: flex;
     justify-content: end;
     width: 100%;
     gap: 10px;
}

#filter_container_r3 div {
     width: 10%;
}

#filter_button, #reset_button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--button-bg-color-light);
}

#reset_button, #reset_button span {
    background-color: aliceblue;
    color: black;
    font-weight: 600;
    font-size: 14px;
}

#filter_button span {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 600;
}

#movie_result_container {
    width: 100%;
    height: 100px;
    gap: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;

    background: linear-gradient(45deg, var(--card-bg-color-dark), var(--card-bg-color-mid));
}

/* ------- INPUT SPECIFIC ------- */
input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 18px;
    border: 2px solid #888;
    border-radius: 4px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

input[type="checkbox"]:not(:checked) {
    background-image: url('/public/resources/checkbox_unchecked_icon.svg');
}

input[type="checkbox"]:checked {
    background-image: url('/public/resources/checkbox_checked_icon.svg');
}

input[type="text"] {
    padding: 2px;
    width: 100%;
}

input[type="number"] {
    padding: 2px;
    width: 100%;
}