:root {
    --black: #040306;
    --white: #FBF9FF;
    --gray-light: #B3B3B3;
    --gray-dark: #454545;

    --purple-dark: #40224C;
    --purple-light: #CB5CC8;
    --purple-mid: #623397;

    --violet-dark: #110A1C;
    --violet-mid: #421F76;
    --violet-light: #7B3ADC;

    --yellow-dark: #D09030;
    --yellow-light: #F3D08E;
}