:root {
    /* ---------- Base Colors ---------- */
    --background-color: var(--black);
    --text-color: var(--white);
    --text-color-muted: var(--gray-light);
    --border-color: var(--gray-light);
    --border-color-muted: var(--gray-dark);

    --primary-color-dark: var(--purple-dark);
    --primary-color-light: var(--purple-light);
    --secondary-color-dark: var(--yellow-dark);
    --secondary-color-light: var(--yellow-light);
    --accent-color: var(--purple-mid);

    /* ---------- Components Colors ---------- */
    --card-bg-color-dark: var(--violet-dark);
    --card-bg-color-mid: var(--violet-mid);
    --card-bg-color-light: var(--violet-light);
}